<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="standard">
        <route id="example" frontName="example">
            <module name="harit_routes"/>
        </route>
        <route id="tester" frontName="tester">
            <module name="harit_routes"/>
        </route>
    </router>
</config>
