<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="\Magento\Theme\Block\Html\Header">
        <plugin name="change_welcome_msg" type="Instances\TestingPlugins\Plugin\HeaderPlugin" sortOrder="10"/>
    </type>
</config>
