<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="standard">
        <route id="reevision" frontName="reevision">
            <module name="Reevision_Routes"/>
        </route>
    </router>
</config>
