<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="standard">
        <route id="layout_example" frontName="layout">
            <module name="Learning_Layout"/>
        </route>    
    </router>
</config>
