<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="standard">
        <route id="layout_xml" frontName="testing_layout">
            <module name="Revision_Layout"/>
        </route>
    </router>
</config>
